services:
  opa:
    image: openpolicyagent/opa:latest
    container_name: opa
    command: ["run", "--server", "--watch", "/policies"]
    volumes:
      - ./opa_policies:/policies:ro
    ports:
      - "8181:8181"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    environment:
      - OPA_URL=http://opa:8181/v1/data/fileupload/decision
    volumes:
      - ./backend:/app
      - ./backend/storage:/app/storage
    ports:
      - "8000:8000"
    depends_on:
      - opa

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true
    depends_on:
      - backend

networks:
  default:
    name: secure-file-upload_default

